@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

$primary: white;
$secondary: hsl(168, 34%, 53%);
$danger: hsl(198, 62%, 26%);

$font-family-sans-serif: 'Barlow', sans-serif;

$line-height-base:            1.6;

$position-values: (
  0: 0,
  50: 50%,
  80: 83%,
  100: 100%
);

.navbar{
  z-index: 1000;
}

.title{
    font-family: 'Fraunces', serif;
    word-spacing: 20px;
    letter-spacing: 10px;
}

.titles{
    font-family: 'Fraunces', serif;
    word-spacing: 18px;
    letter-spacing: 5px;
}

.fra{
    font-family: 'Fraunces', serif;
}

.one{
    width: 100%;
}

.one{
    img{
        width: 100px;
    }
}

.profile{
    width: 20%;
}


.woo{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "width": map-merge(
      map-get($utilities, "width"),
      (
        values: map-merge(
          map-get(map-get($utilities, "width"), "values"),
          (60: 60%),
        ),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "width": map-merge(
      map-get($utilities, "width"),
      (
        values: map-merge(
          map-get(map-get($utilities, "width"), "values"),
          (80: 80%),
        ),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "width": map-merge(
      map-get($utilities, "width"),
      (
        values: map-merge(
          map-get(map-get($utilities, "width"), "values"),
          (85: 85%),
        ),
      ),
    ),
  )
);

@media (min-width: 801px) {
  nav{
    a.nav-link{
      color: white;
    }
  }
}

@media (max-width: 800px) {
  nav {
    ul {
      background-color: white;
      display: flex;
      align-items: center;
      padding: 30px 0 45px 0;
    }
  
    li { display: inline-block; }
  
    a.nav-link {
      color: black;
    }

    .c-btn{
      background-color: $yellow;
    }
  }
}



@import '../node_modules/bootstrap/scss/bootstrap';
@import "../node_modules/bootstrap/scss/utilities/api";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
